$blue: #92DCE5;
$gold: #CCA43B;
$colortext: #212D40;
$gunmetal: #252a34;
$gunmetalSecund: #3f444b;
$white: #ffffff;
$whitSecund: #d4d3d3;
$headerLine: #87a9a4;
$headerSecundBackground: #68b2a7;
$headerFourBackground: #9c9d9d;
$headerBackground: #a6c2bd;
/*END HEADER*/
$whiBackground: #e5e6e6;
$headersBackground: #000000d1;
$GreenBackground: #BAFF29;