@font-face {
    /*
      ! Download esse JetBrains Mono fonts : https://www.jetbrains.com/lp/mono/
      ! Para mais fonts acessar: https://fonts.google.com/
      ! truetype => é tipo de formato de fontes [ ./font/JetBrainsMono.ttf ]
      ! woff => é tipo de formato de fontes [ ./font/JetBrainsMono-Bold.woff ]
      ! svg => é tipo de formato de fontes [ ./font/JetBrainsMono-Bold.svg ]
      ! embedded-opentype => é tipo de formato de fontes [ ./font/JetBrainsMono.eot ]
      ? É obrigatorio informa o font-weight e font-style.
      ? É obrigatorio informa o nome da font: [ font-family: 'Qualquer nome'; ]
      ? Exemplo font-weight [ font-weight: normal; ]
      ? Exemplo font-style [ font-style: normal; ]
    */
    font-family: 'JetBrainsMono-Bold';
    src: url('../font/ttf/JetBrainsMono-Regular.ttf') format('truetype'),
      url('../font/ttf/JetBrainsMono-Regular.ttf') format('embedded-opentype'),
      url('../font/ttf/JetBrainsMono-Regular.ttf') format('woff'),
      url('../font/ttf/JetBrainsMono-Regular.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'JetBrainsMono-ExtraLight';
    src: url('../font/ttf/JetBrainsMono-ExtraLight.ttf') format('truetype'),
      url('../font/ttf/JetBrainsMono-ExtraLight.ttf') format('embedded-opentype'),
      url('../font/ttf/JetBrainsMono-ExtraLight.ttf') format('woff'),
      url('../font/ttf/JetBrainsMono-ExtraLight.ttf') format('svg');
    font-weight: normal;
    font-style: normal;
  }