@import "./color.scss";
/* ! Smartphones (landscape) 1224px */
@media screen and (max-width: 800px) {
  header {
    justify-content: space-between;
    .header-logo-title {
      margin-left: 1.35rem !important;
    }
    .header-menu-desktop {
      ul {
        display: flex;
        justify-content: flex-end;
        li {
          width: calc(-10px + 1vw + 3.6rem);
          display: none;
          &:last-child {
            display: flex;
          }
        }
      }
    }
  }
  .main-container {
    .main-container-view {
      .main-container-view-home {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: calc(1.4rem + 3.4vw);
        .main-container-view-home-photo {
          margin-right: 0;
        }
        .main-container-view-home-content {
          h1 {
            margin-top: calc(0.4rem + 0.9rem);
            font-size: clamp(1.3rem, 2.2vw, 1.3rem);
          }
          span {
            margin-top: calc(0.4rem + 0.1rem);
            font-size: clamp(1.7rem, 2.6vw, 3.6rem);
          }
          p {
            margin-top: calc(0.4rem + 0.1rem);
            margin-bottom: calc(0.7rem + 0.3rem);
            font-size: clamp(0.9rem, 1.8vw, 1.4rem);
          }
          div {
            button {
              color: $black;
              padding: calc(0.7rem + 1.3vw) calc(0.7rem + 0.5vw + 0.2rem);
            }
            &:last-child {
              i {
                font-size: clamp(1.1rem, 1.8vw, 1.6rem);
              }
            }
          }
        }
      }
    }
    .main-container-view-about {
      display: none !important;
    }
  }
}
