/* GENERAL */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.header-logo-title {
  font-size: clamp(0.1rem, 10vw, 1.6rem);
}

header {
  width: 100%;
  height: calc(1rem + 3vw + 2rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header .header-logo {
  width: calc(1rem + 25vw + 3.2rem);
}
header .header-logo .header-logo-title {
  margin-left: 4.2rem;
  font-size: clamp(0.1rem, 4.2vw, 1.6rem);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #000;
}
header .header-menu-desktop {
  width: calc(10px + 50vw + 100px);
}
header .header-menu-desktop ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
header .header-menu-desktop ul li {
  width: calc(-10px + 10vw + 6rem);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: clamp(0.1rem, 4.2vw, 1.6rem);
}
header .header-menu-desktop ul li:last-child {
  display: none;
  font-size: clamp(0.1rem, 5.2vw, 1.6rem);
}
header .header-menu-desktop ul li:last-child span:first-child {
  display: flex;
  cursor: pointer;
}
header .header-menu-desktop ul li:last-child span:last-child {
  display: none;
  cursor: pointer;
}
header .header-menu-desktop ul li a {
  text-decoration: none;
  color: #555555;
}
header .header-menu-desktop ul li a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 1.2rem;
}

.header-menu-mobile {
  display: none;
  width: 100%;
}
.header-menu-mobile ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border-bottom: 1px solid #efefef;
}
.header-menu-mobile ul li {
  height: calc(2.5rem + 4vw + 3.2rem);
  display: inherit;
  justify-content: center;
  align-items: center;
}
.header-menu-mobile ul li a {
  font-size: clamp(0.1rem, 4.2vw, 1.6rem);
  text-decoration: none;
  color: #555555;
}
.header-menu-mobile ul li a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #000;
  text-underline-offset: 1.2rem;
}

.main-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-container .main-container-view {
  width: 90%;
}
.main-container .main-container-view .main-container-view-home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-photo {
  background-color: transparent;
  width: calc(8.7rem + 3.4vw + 12rem);
  margin-right: calc(1.4rem + 3.4vw);
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-photo img {
  border: 1px solid transparent;
  border-radius: 50%;
  border: #000;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content {
  width: calc(8.7rem + 3.4vw + 8rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content h1 {
  font-size: clamp(0.1rem, 2.2vw, 1.2rem);
  margin-bottom: calc(0.1rem + 0.5vw);
  color: #555555;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content span {
  font-size: clamp(0.1rem, 2.6vw, 4.2rem);
  margin-bottom: calc(0.1rem + 0.6vw);
  color: #000;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content p {
  font-size: clamp(0.1rem, 2.2vw, 1.4rem);
  color: #555555;
  margin-bottom: calc(0.1rem + 1vw);
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div {
  display: flex;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div button {
  padding: calc(0.7rem + 0.5vw) calc(0.7rem + 1vw);
  margin: 0 calc(0.4rem + 0.1vw);
  border: 0.15rem solid transparent;
  font-size: clamp(0.4rem, 2.2vw, 0.9rem);
  font-weight: 500;
  border-radius: 10rem;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div button:first-child {
  background-color: transparent;
  border-color: #000;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div button:first-child:hover {
  border-color: transparent;
  background-color: #000;
  color: #fff;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div button:last-child {
  background-color: #000;
  color: #fff;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div button:last-child:hover {
  border-color: #000;
  background-color: #fff;
  color: #000;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div:last-child i {
  font-size: clamp(0.1rem, 2.2vw, 1.4rem);
  margin-right: calc(0.5vh + 0.7rem);
  margin-top: calc(0.5vh + 0.7rem);
  cursor: pointer;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div:last-child i:first-child:hover {
  opacity: 0.5;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div:last-child i:nth-child(2):hover, .main-container .main-container-view .main-container-view-home .main-container-view-home-content div:last-child i:nth-child(3):hover {
  color: #0091ff;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div:last-child i:nth-child(4):hover {
  color: #E5609E;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div:last-child i:nth-child(5):hover {
  color: #6066EE;
}
.main-container .main-container-view .main-container-view-home .main-container-view-home-content div:last-child i:last-child:hover {
  color: #ffbf00;
}
.main-container .main-container-view .main-container-view-about:hover .main-container-view-about-filter {
  filter: grayscale(0%) !important;
  transition: 700ms ease-in-out 0.2s;
}
.main-container .main-container-view .main-container-view-about {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-left {
  width: 50%;
  display: inherit;
  justify-content: center;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-left .main-container-view-about-left-photo {
  width: calc(8.7rem + 5.4vw + 8.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-left .main-container-view-about-left-photo img {
  border: 1px solid transparent;
  filter: grayscale(100%);
  border-radius: 50%;
  border: #000;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right {
  width: 50%;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container {
  display: inline-block;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container h2 {
  font-size: clamp(0.1rem, 2.2vw, 1.9rem);
  margin-bottom: calc(0.1rem + 0.5vw);
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container p {
  font-size: clamp(0.1rem, 1.2vw, 0.9rem);
  margin-bottom: calc(0.1rem + 0.4vw);
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container button {
  padding: calc(0.2rem + 0.6vw);
  background-color: #0091ff;
  border: 2px solid transparent;
  border-radius: 0.2rem;
  color: #fff;
  font-size: clamp(0.1rem, 1.2vw, 0.9rem);
  margin-bottom: calc(0.1rem + 0.7vw);
  filter: grayscale(100%);
  cursor: pointer;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container button:hover {
  background-color: transparent;
  border-color: #0091ff;
  color: #0091ff;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container h3 {
  font-size: clamp(0.1rem, 2.2vw, 1.5rem);
  margin-bottom: calc(0.1rem + 0.2vw);
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container div img {
  width: calc(1.3rem + 1.3vw);
  margin: calc(0.1rem + 0.1vw);
  filter: grayscale(100%);
  cursor: pointer;
}
.main-container .main-container-view .main-container-view-about .main-container-view-about-right .main-container-view-about-right-container div img:first-child {
  margin-left: 0;
}

/*# sourceMappingURL=style.css.map */
