@charset "UTF-8";
/*END HEADER*/
/* ! Desktops and laptops */
@font-face {
  /*
      ! Download esse JetBrains Mono fonts : https://www.jetbrains.com/lp/mono/
      ! Para mais fonts acessar: https://fonts.google.com/
      ! truetype => é tipo de formato de fontes [ ./font/JetBrainsMono.ttf ]
      ! woff => é tipo de formato de fontes [ ./font/JetBrainsMono-Bold.woff ]
      ! svg => é tipo de formato de fontes [ ./font/JetBrainsMono-Bold.svg ]
      ! embedded-opentype => é tipo de formato de fontes [ ./font/JetBrainsMono.eot ]
      ? É obrigatorio informa o font-weight e font-style.
      ? É obrigatorio informa o nome da font: [ font-family: 'Qualquer nome'; ]
      ? Exemplo font-weight [ font-weight: normal; ]
      ? Exemplo font-style [ font-style: normal; ]
  */
  font-family: "JetBrainsMono-Regular";
  src: url("../fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype"), url("../fonts/webfonts/JetBrainsMono-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* ! Fonts and styles */
/* ! Frames and styles */
@media only screen and (min-width: 1224px) {
  body {
    background-color: firebrick;
  }
}
/* TODO: DAQUI PRA BAIXO É CODIGO MOBILE CSS */
/* ! Smartphones (landscape) */
@media only screen and (max-width: 768px) {
  body {
    width: 100dvw;
    height: 100dvh;
    background: linear-gradient(#a6c2bd, #68b2a7);
    color: #212D40;
    font-family: "JetBrainsMono-Regular", monospace;
    overflow-x: hidden;
  }
  body header {
    width: 100%;
    height: 3.3rem;
    background-color: #252a34;
    border-bottom: 1px solid #3f444b;
  }
  body header .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  body header .container .logotipo {
    width: 6.4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header .container .logotipo .mylogo {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    font-style: normal;
    color: #CCA43B;
  }
  body header .container .menu-mobile {
    width: 6.4rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header .container .menu-mobile .material-symbols-outlined {
    font-size: 1.5rem;
    color: #92DCE5;
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .about-me {
    width: 100%;
    background-color: #252a34;
    border-bottom: 0.1rem solid #3f444b;
  }
  .main .about-me .container-about {
    width: 100%;
    height: 100%;
  }
  .main .about-me .container-about .about-saury-left .about-saury {
    width: 70%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
  .main .about-me .container-about .about-saury-left .about-saury .about-suary-title {
    margin-top: 10%;
    margin-left: 10%;
    font-size: 3rem;
    font-weight: 500;
    font-style: normal;
    font-family: "JetBrainsMono-Regular";
    color: #92DCE5;
    margin-bottom: 10px;
  }
  .main .about-me .container-about .about-saury-left .about-saury .about-suary-title .about-suay-white {
    color: #ffffff;
  }
  .main .about-me .container-about .about-saury-left .about-saury .about-suary-p {
    margin-left: 10%;
    font-size: 0.6rem;
    font-weight: 300;
    font-style: normal;
    font-family: "JetBrainsMono-Regular", monospace;
    color: #CCA43B;
  }
  .main .about-me .container-about .about-saury-left .about-saury-sub {
    width: 100%;
    height: 5.5rem;
    margin-top: 4%;
    margin-left: 5%;
    display: flex;
  }
  .main .about-me .container-about .about-saury-left .about-saury-sub .about-saury-sub-p {
    width: 10rem;
    font-size: 0.6rem;
    font-weight: 300;
    font-style: italic;
    font-family: "JetBrainsMono-Regular", monospace;
    color: #92DCE5;
  }
  .main .about-photo {
    width: 100%;
    height: 25rem;
    background: linear-gradient(#a6c2bd, #68b2a7);
    border-bottom: 1px solid #87a9a4;
    color: #000;
  }
  .main .about-photo .about-photo-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main .about-photo .about-photo-container .about-figures {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .main .about-photo .about-photo-container .about-figures img {
    position: absolute;
    border: 0.14rem solid #68b2a7;
    border-radius: 0.2rem;
    box-shadow: 0px 0px 20px 5px #9c9d9d;
    left: 3.5rem;
    width: 70%;
    height: 70%;
    object-fit: cover;
  }
  .main .about-full {
    width: 100%;
    height: 76dvh;
    background-color: #252a34;
    border-bottom: 0.1rem solid #87a9a4;
    padding-top: 1.5rem;
  }
  .main .about-full .about-full-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main .about-full .about-full-container .about-full-left {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main .about-full .about-full-container .about-full-left div {
    background-color: #3f444b;
    padding: 1.3rem;
    border: 1px solid transparent;
    border-radius: 0.2rem;
  }
  .main .about-full .about-full-container .about-full-rigth {
    width: 90%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.3rem;
  }
  .main .about-full .about-full-container .about-full-rigth div {
    background-color: #3f444b;
    padding: 1.3rem;
    border: 1px solid transparent;
    border-radius: 0.2rem;
  }
  .main .about-full .about-full-container .about-full-title {
    font-size: 1.7rem;
    font-style: oblique;
    font-family: "JetBrainsMono-Regular", monospace;
    font-weight: 400;
    margin-bottom: 0.9rem;
    color: #CCA43B;
  }
  .main .about-full .about-full-container .about-full-paragr {
    font-size: 0.8rem;
    font-family: "JetBrainsMono-Regular", monospace;
    font-weight: 400;
    padding-top: 0.2rem;
    padding-bottom: 0.7rem;
    color: #d4d3d3;
  }
  .main .about-skills {
    width: 100%;
    margin-top: 20px;
    background: linear-gradient(#a6c2bd, #68b2a7);
    border-bottom: 0.1rem solid #9c9d9d;
  }
  .main .about-skills .about-skills-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-right: 0.1rem;
    margin-left: 0.1rem;
  }
  .main .about-skills .about-skills-container .about-skills-left {
    width: 95%;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.8196078431);
    border: 1px solid transparent;
    border-radius: 0.4rem;
    padding: 5%;
  }
  .main .about-skills .about-skills-container .about-skills-left div .about-skills-title {
    font-size: 2.3rem;
    font-family: "JetBrainsMono-Regular", monospace;
    font-weight: 400;
    margin-bottom: 10px;
    color: #CCA43B;
  }
  .main .about-skills .about-skills-container .about-skills-left div .about-skills-paragr {
    font-size: 0.5rem;
    font-family: "JetBrainsMono-Regular", monospace;
    font-weight: 400;
    margin-bottom: 10px;
    color: #ffffff;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div {
    width: 100%;
    display: flex;
    align-items: center;
    margin-right: 0.3rem;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div small {
    width: 15%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div label {
    width: 6rem;
    font-size: 0.7rem;
    font-family: "JetBrainsMono-Regular", monospace;
    text-align: center;
    color: #ffffff;
    margin-right: 7px;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div .process {
    width: 100%;
    height: 15px;
    background-color: #3f444b;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div .process-frontend {
    width: 85.3%;
    height: 15px;
    background-color: #BAFF29;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div .process-backend {
    width: 77.3%;
    height: 15px;
    background-color: #BAFF29;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div .process-php {
    width: 85.7%;
    height: 15px;
    background-color: #BAFF29;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div .process-python {
    width: 90%;
    height: 15px;
    background-color: #BAFF29;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div .process-mysql {
    width: 67.5%;
    height: 15px;
    background-color: #BAFF29;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div .process-design {
    width: 79.5%;
    height: 15px;
    background-color: #BAFF29;
  }
  .main .about-skills .about-skills-container .about-skills-left div ul div small {
    color: #ffffff;
  }
  .main .about-contact {
    width: 100%;
    height: 80vh;
    background-color: #252a34;
  }
}

/*# sourceMappingURL=style.css.map */
