@charset "UTF-8";
/*
    ! Documentação Scss: https://sass-lang.com/documentation/
    ! Duvidas a respeito sobre as tag playlist: https://bit.ly/49TKsVF
    ! Para executar o sass pra desenvolvimento : sass --watch ./scss/.:diretórios 
    ! Para executar o sass pra produção : sass --watch ./scss/.:diretórios --style compressed
    ? Herança [ @extend ] => a função extend ela copia a outra função, pra ela ser utilizar corretamente tu tem que adicionar a função que voce esta dizendo.
    ? Variáveis [ $ ] => a função $ é pra voce criar uma Variáveis reutilizada $color : #0fd e com medições etc...
    ? Import [ @import ] => a função @ é pra fazer a importação de outro arquivo .SCSS.
    ? Mixin [ @mixin ] é um tipo que voce conseguir criar a suas propria função, pra ser reutilizada.
    ? Include [ @include ] =>a onde voce conseguir a função que foi gerada com @mixin( eos parâmetros );
    ? Nesting [ & ] =>  para função & ela esta sentando-me ela mesma, e pode utilizar com os ::hover e ::before e ::after etc...
    * Exemplo de códigos com parâmetros passados. </
    ?	@mixin nome_da_função($background,$color,$e_muito_mais_conseguir_criar){
    ?       background-color: $background;
    ?   }
    ?   p{
    ?       color: red;
    ?       span{
    ?           color: black;
    ?           @include nome_da_função($background,$color...);
    ?       }
    ?       &:hover{
    ?           @extend .função_que_voce_deixa_chamar;
    ?           color: #fff;
    ?       }
    ?   }
*/
/*
? http://meyerweb.com/eric/tools/css/reset/
? v2.0 | 20110126
? License: none (public domain)
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  width: 100vw;
  height: 100vh;
  line-height: 1;
  font-size: 10px;
  font-family: "JetBrainsMono-Bold", monospace;
  color: #FFFFFF;
  background-color: #0a0b0c;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ! END RESET */
.container {
  width: 100vw;
  height: 100vh;
  font-size: 2.1rem;
}
.container header {
  width: 100vw;
  height: 10%;
  font-size: 2.1rem;
  border-bottom: thin solid #ff0000; /* TODO: Talvez deletar esse border */
}
.container header .container-header {
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.container header .container-header .logotipo {
  width: 10%;
  text-align: center;
}
.container header .container-header .logotipo h1 {
  font-size: 2.1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.container header .container-header .logotipo h1 span {
  color: #E64B16;
}
.container header .container-header .menu {
  width: 90%;
  height: 100%;
}
.container header .container-header .menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}
.container header .container-header .menu ul li {
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container header .container-header .menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
}
.container header .container-header .menu ul li .header-btn-work {
  width: 100%;
  padding: 19px 0px;
  margin-left: 10px;
  font-weight: 500;
  font-family: "JetBrainsMono-ExtraLight", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 0.3rem;
  background-color: #ff0022;
}
.container header .container-header .menu ul li .header-btn-work:hover {
  background: #c7091c;
  color: #fff;
}

.menu-show {
  font-size: 1.1rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.menu-show::before {
  content: "";
  position: absolute;
  top: 0px;
  width: 90%;
  height: 100%;
  z-index: -1;
  background-color: red;
}

.main {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.1rem;
}
.main .main-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.main .main-section-menu {
  content: "";
  position: absolute;
  right: 20px;
  width: 20px;
  height: 250px;
  display: flex;
}
.main .main-section-menu .btn-section-menu-about {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0px;
  width: 0.9rem;
  height: 0.9rem;
  border: 1px solid #ff0000;
  border-radius: 100%;
}
.main .main-section-menu .btn-section-menu-service {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0px;
  width: 0.9rem;
  height: 0.9rem;
  border: 1px solid #ff0000;
  border-radius: 100%;
  top: 50px;
}
.main .main-section-menu .btn-section-menu-portfolio {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0px;
  width: 0.9rem;
  height: 0.9rem;
  border: 1px solid #ff0000;
  border-radius: 100%;
  top: 100px;
}
.main .main-section-menu .btn-section-menu-test {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0px;
  width: 0.9rem;
  height: 0.9rem;
  border: 1px solid #ff0000;
  border-radius: 100%;
  top: 150px;
}
.main .main-section-menu .btn-section-menu-contato {
  content: "";
  position: absolute;
  cursor: pointer;
  left: 0px;
  width: 0.9rem;
  height: 0.9rem;
  border: 1px solid #ff0000;
  border-radius: 100%;
  top: 200px;
}

#show_menu_section {
  background-color: #ff0000;
}

/* ! END HEADER */
@keyframes movi_text {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.view-container-about {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.view-container-about .view-container-about-right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
